@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap');

/* fonts */
body {
    background-color: white;
    background-image: url(funky-lines.png);
    color: black;
    font-family: 'Merriweather', serif;
    --red : rgb(255,2,2);
    --green: rgb(2,255,2);
    --yellow: rgb(255,220,0);
}
h1, h2, h3, h4 {
    font-family: 'Exo 2', sans-serif;
}


/* layout */

body {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "logo"
        "header"
        "asideleft"
        "content"
        "asideright"
        "footer"
    ;
    /*margin: auto;*/
    /*max-width: 60rem;*/
    margin:1rem;
}

body > * {
    /*border: 1px solid red;*/
}

#logo {
    grid-area: logo;
    /*padding: 1rem;*/
    justify-self: center;
    align-self: end;
    width: 7rem;
}

header {
    grid-area:header;
    padding:0 1rem;
}
aside {
    align-self: start;
}
aside.left {
    grid-area: asideleft;
}
main {
    grid-area: content;
}
aside.right {
    grid-area: asideright;
}
footer {
    grid-area: footer;
}

@media only screen and (min-width: 500px)  {
    body {
        grid-template-columns: 10rem auto;
        grid-template-areas:
                "logo   header"
                "asideleft  content"
                "asideright asideright"
                "footer   footer";
    }
    #logo {
        justify-self: end;
    }
}

@media only screen and (min-width: 800px)   {
    body {
        grid-template-columns: 10rem auto 10rem;
        grid-template-areas:
                "logo  header  header"
                "asideleft content asideright"
                "footer  footer  footer";
        /*max-width: 600px;*/
        max-width: 850px;
        margin:auto;
    }
}




/* ==== styling ==== */


h1.title {
    font-size: 5.0rem;
    margin:0;
    padding:0;
    color: var(--red);
}
h2.subtitle {
    font-size: 2.0rem;
    margin:0;
    padding:0;
    color: var(--red);
}

aside h3 {
    margin: 0;
}

main {
    margin-bottom: 3rem;
    line-height: 175%;
    background-color: white;
    padding: 1rem;
    padding-top:0;
    border-radius: 1rem;
    border: 1px solid #ddd;
}

aside {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #ddd;
}

main h1 {
    /*background-color: var(--yellow);*/
    /*padding: 0rem 1rem;*/
    /*margin: 0 -1rem 0 -1rem;*/
    font-size: 1.5rem;
}

main article {
    margin-top: 2rem;
}
main article:first-child {
    margin-top: 0;
}
main article:first-child h3 {
    margin-top: 0;
}
main article img {
    max-width: 20rem;
}
main h1 a {
    text-decoration: none;
    color: black;
}

main h3 {
    background-color: transparent;
    margin-top: 2rem;
}

a {
    color: var(--red);
}

h3 a {
    color: inherit;
    text-decoration: none;
}

blockquote {
    border-left: 1px solid var(--red);
    padding-left: 0.5rem;
}


header h1 a, header h2 a{
    text-decoration: none;
}


