@import url('https://fonts.googleapis.com/css?family=Exo+2:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700&display=swap');

/* fonts */
body {
    background-color: white;
    color: black;
    font-family: 'Merriweather', serif;
    --red : rgb(255,2,2);
}
h1, h2, h3, h4 {
    font-family: 'Exo 2', sans-serif;
}


/* layout */

body {
    display: grid;
    grid-template-columns: [left] 1fr [center] minmax(15rem,30rem) [right] 1fr [end];
    grid-template-rows: [header] 8rem [content] 1fr [footer]10rem;
    grid-gap: 3rem;
    margin: 2rem;
}

body > * {
    /*border: 1px solid red;*/
}
header {
    grid-column: center/end;
    grid-row: header;
}
footer {
    grid-column: left/end;
    grid-row: footer;
}
aside {
    grid-column: right;
    grid-row: content;
}
main {
    grid-column: center;
    grid-row: content;
}

#logo {
    grid-column: left;
    padding: 1rem;
    justify-self: end;
    height: 7rem;
}
/* ==== styling ==== */


h1.title {
    font-size: 5.0rem;
    margin:0;
    padding:0;
}
h2.subtitle {
    font-size: 2.0rem;
    margin:0;
    padding:0;
}
h1, h2 {
    color: var(--red);
}
h3,h4 {
    color: black;
}
h3 {
    background-color: rgb(255,220,0);
    padding: 0.5rem 1rem;
    margin: 0 -1rem 0 -1rem;
}

h4 {
    font-style: italic;
    margin: 0;
}

article {
    margin-bottom: 3rem;
    line-height: 175%;
}

a {
    color: var(--red);
}

h3 a {
    color: inherit;
    text-decoration: none;
}

